body{
    background-color: #f0f0f0;
    margin:0;
    padding:0;
}

#name{

    font-size: 1em;
}

.container{
    height: 100%;
    width: 70%;
    margin: 20px auto;
 
   
  
}

 #mainContentContainer{
    width: 100%;
    display: flex;
flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:100px;
} 

#appContent{
    width:90%;
    padding:40px auto;
   display: grid;
   grid-gap: 50px;
   grid-template-columns: auto auto auto auto; 
}

 #graphicsContent{
   
    width:90%;
    padding:40px auto;
   display: grid;
   grid-gap: 50px;
   grid-template-columns: auto auto auto auto;
 } 

  #webContent{
   
    width:90%;
    padding:40px auto;
   display: grid;
   grid-gap: 50px;
   grid-template-columns: auto auto auto auto;
 } 
 



.contentItem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    height:200px;
    width: 200px;
}
.contentItem img{
    object-fit:scale-down;
    height:200px;
    width: 200px;
}


.contentItem img{
height: 200px;
width: 200px;
}

.contentItem iframe{
   
    height: 200px;
    width: 200px;
}

.contentHeadings{

}


.navTop{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-size: 20px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin: 10px 0px;
    
    padding:20px;
}

#navListTop{
    
   
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 7px;
}

#navListTop img{
    
    height: 25px;
    width: 25px;
   

}


.navBottom{



    width: 100%;
    margin: 10px auto;
    
}

#navListBottom{

    font-size: 1px;
    display: flex;
    width: 20%;
  
    padding: 5px 5px;
   
    gap: 35px;
}


.listItems{
    list-style-type: none;
    gap: 10px;
    text-decoration: none;
    font-style: none;
    
   
}

.listItems a:hover{
    color:blue;
    text-decoration: underline;
}

.listItems a{
    font-size: 16px;
    text-decoration: none;
    color:black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}

#aboutSection{
    
    display: flex;
    width:90%;
    padding:40px 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    gap:50px;   
    display: flex;
    justify-content: space-between;
}

#aboutSectionPara{
    
width:50%;

}




#aboutSection img{
   height:400px;
   width:400px;
   
} 

#photographySection{
    width:90%;
    padding:40px 70px;
}

#photographySection p{
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;

}

#photographySection img{
    height:150px;
    width:150px;
}

#artSection{
    width:90%;
    padding:40px 70px;
}

#artSection p{
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;

}


#artSection img{
    height:150px;
    width:150px;
}




.active-link a{
   
    text-decoration: underline;
    color:blue;
}

#blogList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blogItem{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 80%;
    height: auto;
    padding: 20px;
    border-bottom:1px solid rgba(0, 0, 0, 0.333);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blogHeading{
    font-weight: bolder;
    text-decoration: underline;
}

.blogItem img{
    height: 200px;
    width: 300px;
}

#resumeImageContainer{
   
    display: flex;
    width: 70%;
    justify-content: center;
    margin: 50px 200px;
    
    gap: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

#resumeImageContainer img{
height: 300px;
width: 200px;
}

#resumeImageContainer button:hover{
   cursor:pointer;
   
}

#pdf123{
    color: rgba(0, 0, 0, 0.608);
}

#linksContainer{
    padding: 20px;
    height:auto;
    width: auto;
    margin:20px;
    
}

#linksContainer li{
  
    list-style-type:none;
    padding:20px 0px;
    
}



@media all and (max-width:1000px) {

    #appContent{
        
       grid-template-columns: auto; 
       grid-gap: 50px;
    }
    
    #mainContentContainer{
        width: 20%;
   
        gap:20px;
    } 

     #graphicsContent{
       
        
       grid-template-columns: auto ;
       grid-gap: 50px;
     } 
    
      #webContent{
       
        grid-gap: 50px;
       grid-template-columns: auto ;
     } 

   
    
    #contents img{
    height: 80px;
    width: 80px;
    }
    
    .contentItem iframe{
       
        height: 80px;
        width: 80px; 
    
    }

    #resumeImageContainer{
       
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: 10px 10px;
        gap: 10px;
        padding:40px;
        
    }

    #navListBottom{

    
        display: flex;
        width: 100%;
        font-size: 10px;
        
        padding:5px 0px;
        gap: 15px;
    }

    
   #aboutSection{
    
    display: flex;
    flex-direction: column;
    width:100%;
  padding:5px 5px;
    
   }   
   


 #aboutSectionPara{
    
    width:100%;
    padding: 10px;
    
 }

 .container{
    height: 100%;
    width: 70%;
    margin: 20px auto;
  
 }

 #aboutSection img{
    height:300px;
    width:300px;
    margin:auto 5px;
 } 

 #photographySection{
    width:100%;
    padding:20px 20px;
 }

 #artSection{
    width:100%;
    padding:20px 20px;
 }
 
}