body{
    background-color: #f0f0f0;
    margin:0;
    padding:0;
}

#name{

    font-size: 1em;
}

.container{
    height: 100%;
    width: 70%;
    margin: 10px auto;
 
 
}

 #mainContentContainer{
    width: 100%;
    display: flex;
flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:100px;
} 

#appContent{
    width:90%;
    padding:40px auto;
   display: grid;
   grid-gap: 50px;
   grid-template-columns: auto auto auto auto; 
}

 #graphicsContent{
   
    width:90%;
    padding:40px auto;
   display: grid;
   grid-gap: 50px;
   grid-template-columns: auto auto auto auto;
 } 

  #webContent{
   
    width:90%;
    padding:40px auto;
   display: grid;
   grid-gap: 50px;
   grid-template-columns: auto auto auto auto;
 } 
 



.contentItem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    height:200px;
    width: 200px;
}
.contentItem img{
    object-fit:scale-down;
    height:200px;
    width: 200px;
}


.contentItem img{
height: 200px;
width: 200px;
}

.contentItem iframe{
   
    height: 200px;
    width: 200px;
}

.contentHeadings{

}


.navTop{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
   
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin: 10px 0px;
    
    
    padding: 10px;
}

.navTop button{
    color:#f0f0f0;
    border:none;
    background-color:#f0f0f0;
}

#navListTop{
    
   
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 7px;
}

#navListTop img{
    
    height: 25px;
    width: 25px;
   

}


.navBottom{



    width: 100%;
    margin: 10px auto;
    
}

#navListBottom{

 
    display: flex;

    width: 20%;
  
    padding: 5px 5px;
   
    gap: 35px;
}


.listItems{
    list-style-type: none;
    gap: 10px;
    text-decoration: none;
    font-style: none;
    
   
}

.listItems a:hover{
    color:blue;
    text-decoration: underline;
}

.listItems a{
    font-size: 16px;
    text-decoration: none;
    color:black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}

#aboutSection{
    
    display: flex;
    width:90%;
    padding:40px auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    gap:50px;   
    display: flex;
    justify-content: space-between;
}

#aboutSectionPara{
    font-size: 16px;
    width:50%;

}


#aboutSection img{
   height:400px;
   width:400px;
   
} 

#photographySection{
    padding:40px 70px;
    width: 90%;
    gap: 10px;
}

#photographySection p{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;

}

#photographySection img{

    height:120px;
    width:120px;
}

#artSection{
    padding:40px 70px;
    width:90%;
    gap: 10px;
}

#artSection p{
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;

}


#artSection img{
    height:120px;
    width:120px;
}




.active-link a{
   
    text-decoration: underline;
    color:blue;
}


#BlogForm{
   position: fixed;
    display: none;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
}


#blogList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blogItem{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 80%;
    height: auto;
    padding: 20px;
    border-bottom:1px solid rgba(0, 0, 0, 0.333);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blogHeading{
    font-weight: bolder;
    text-decoration: underline;
}

.blogItem img{
    height: 200px;
    width: 300px;
}


/* RESUME section */

#resumeImageContainer{
   
    display: flex;
   
    justify-content: center;
  
    
    gap: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

#resumeImageContainer button{
    border:1px solid rgba(0, 0, 0, 0.296);
    background-color: white;
    }
    

#resumeImageContainer img{
height: 250px;
width: 160px;

}

#resumeImageContainer button:hover{
   cursor:pointer;
   
}

#pdf123{
    color: rgba(0, 0, 0, 0.608);
}

#linksContainer{
    padding:0px;
    overflow:hidden;
}

#linksContainer ul{
    padding:0px;
    overflow:hidden;
}


.socialLinks{
    list-style-type:none;
    padding: 20px;
    font-size: 17px;
    
}


@media all and (max-width:1000px) {

    #appContent{
        
       grid-template-columns: auto; 
       grid-gap: 50px;
    }
    
    #mainContentContainer{
        width: 20%;
   
        gap:20px;
    } 

     #graphicsContent{
       
        
       grid-template-columns: auto ;
       grid-gap: 50px;
     } 
    
      #webContent{
       
        grid-gap: 50px;
       grid-template-columns: auto ;
     } 

   
    
    #contents img{
    height: 80px;
    width: 80px;
    }
    
    .contentItem iframe{
       
        height: 80px;
        width: 80px; 
    
    }

    #resumeImageContainer{
       
        display: flex;
        flex-direction: column;
       
        gap: 10px;
        padding:40px;
        
    }

    #resumeImagePara{
        font-size: 13px;
    }
    #navListBottom{

    
        display: flex;
        width: 100%;
        padding:5px 0px;
        gap: 15px;
    }

    .listItems a{
        font-size: 14px;
       
    }
    
   #aboutSection{
    
   
    flex-direction: column;
    width:100%;
  
    
   }   
   
   #aboutSection audio{
    width: 200px;
   }


 #aboutSectionPara{
    
    width:100%;
    font-size: 12px;
    
 }

 #aboutSectionImage{
    width:100%;
    height:250px;
    width:250px;
    margin:5px auto;
 }

 #aboutSectionImage img{
 
    height:250px;
    width:250px;
   
 }

 .container{
    height: 100%;
    width: 70%;
}



 #photographySection{
    width:100%;
padding:20px 15px;  

height: 300px;
overflow: scroll;
    
 }

 #artSection{
   
    width:100%;
    padding:20px 15px;  
    height: 300px;
overflow: scroll;
 }


 .socialLinks{
    
    font-size: 14px;
    
}

 
}