body{
    background-color: #f0f0f0;
    margin:0;
    padding:0;
}

#name{

    font-size: 1em;
}

.container{
    height: 100%;
    width: 70%;
    margin: 10px auto;
 
 
}

.container{
    font-family:Helvetica;
    font-size: 14px;
    line-height: 18px; 
    color:#333
}

 #mainContentContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:100px;
} 

#appContent{
    width:90%;
    padding:40px auto;
   display: grid;
   grid-gap: 50px;
   grid-template-columns: auto auto auto auto; 
}

 #graphicsContent{
   
    width:90%;
    padding:40px auto;
   display: grid;
   grid-gap: 50px;
   grid-template-columns: auto auto auto auto;
 } 

  #webContent{
   
    width:90%;
    padding:40px auto;
   display: grid;
   grid-gap: 50px;
   grid-template-columns: auto auto auto auto;
 } 
 



.contentItem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    height:200px;
    width: 200px;
}
.contentItem img{
    object-fit:scale-down;
    height:200px;
    width: 200px;
}


.contentItem img{
height: 200px;
width: 200px;
}

.contentItem iframe{
   
    height: 200px;
    width: 200px;
}

/* ABOUT SECTION */

.navTop{

    font-family:Helvetica;
    font-size: 19px;
    padding: 10px;
}


.navTop button{
    color:#f0f0f0;
    border:none;
    background-color:#f0f0f0;
}


#navListBottom{
 
    display: flex;
    width: 20%;
    padding: 5px 5px;
    gap: 35px;
}


.listItems{
    
    list-style-type: none;
    font-family: Helvetica;
}

.listItems a:hover{
    color:blue;
    text-decoration: underline;
}

.listItems a{
    color: #333;
    font-size: 14px;
    text-decoration: none;
    font-family: Helvetica;
}

#aboutSection{
    
    display: flex;
    width:90%;
    padding:40px auto;
    gap:50px;   
    display: flex;
    justify-content: space-between;
}

#aboutSectionPara p{
   
    font-size: 13px;
    width:100%;
    line-height: 18px;
    color:#333;
}


#aboutSection img{
   height:300px;
   width:300px;
   
} 

#photographySection{
    padding:40px 70px;
    width: 90%;
    gap: 10px;
}

/* #newImage img{
transform: rotate(90deg);
    height: 100px;
width: 100px;
} */

#photographySection p{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;

}

#photographySection img{
    transform: rotate(90deg);
    height:120px;
    width:120px;
}

#artSection{
    padding:40px 70px;
    width:90%;
    gap: 10px;
}

#artSection p{
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;

}


#artSection img{
    height:120px;
    width:120px;
}




.active-link a{
   
    text-decoration: underline;
    color:blue;
}

/* HOME SECTION */

#BlogForm{
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#blogList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blogItem{
    font-family:Helvetica;
    width: 75%;
    color:#333;
    height: auto;
    padding: 30px 20px;
    border-bottom:1px solid rgba(0, 0, 0, 0.218);
    font-size: 13px;
    
}


.blogHeading{
    font-weight:550;
}


.blogItem img{
    height: 180px;
    width: 280px;
}


#blogItemAttenuation{
    height: 150px;
    width: 500px;
}

#blogItemTorchImage1{

/* transform: rotate(-90deg);
width:100px;
height:500px; */

}



/* Contact SECTION */

#resumeImageContainer{
   
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 50px;
    gap: 100px;
    font-family: 11px;
    font-family: Helvetica;
}



#resumeImageContainer button{
    border:1px solid rgba(0, 0, 0, 0.296);
    background-color: white;
}
    

#resumeImageContainer img{
height: 200px;
width: 110px;

}

#resumeImageContainer button:hover{
   cursor:pointer;
   
}

#pdf123{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.608);
}

#linksContainer{
    display: flex;
    gap: 20px;
}


.socialLinks {
    font-family: Helvetica;
    list-style-type:none;
    padding: 10px;
    font-size: 15px;
    
}


#resumeImagePara p{
   
    font-size: 13px;
}

.socialLinks a{
    
    font-size: 12px;
}

.socialLinks a:hover{
    color:blue;
    text-decoration: underline;
}

.soc p{
    font-family:Helvetica;
    font-size: 13px;
}

/* Projects section */

#projectsGrid{

display: flex;
flex-direction: row;
flex-wrap: wrap;
}

.projectsGridItem{

display: flex;
flex-direction: column;
padding: 20px;
justify-content: center;
align-items: center;
}



@media all and (max-width:1000px) {

  /* HOME SECTION */



.blogItem{
    font-family:Helvetica;
    width: 90%;
    height: auto;
   padding:20px;
    border-bottom:1px solid rgba(0, 0, 0, 0.218);
    display: flex;
    flex-direction: column;
   
     align-items: start;
     font-size: 13px;
}





.blogItem img{
    height: 120px;
    width: 200px;
}


    /* ABOUT SECTION */
    
    #navListBottom{

        gap: 15px;
    }

    .listItems a{
        font-size: 14px;
       
    }
    
   #aboutSection{
    
   
    flex-direction: column;
    width:100%;
  
    
   }   


 #aboutSectionImage img{
 
    height:250px;
    width:250px;
   
 }

 .container{
    height: 100%;
    width: 70%;
}



 #photographySection{
    width:100%;
padding:20px 15px;  

height: 300px;
overflow: scroll;
    
 }

 #artSection{
   
    width:100%;
    padding:20px 15px;  
    height: 300px;
overflow: scroll;
 }

/* CONTACT SECTION */

#resumeImageContainer{
    
    gap: 10px;
   
}

#resumeImagePara p{
   
    font-size: 13px;
}


 #resumeImageContainer{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 5px;
    gap: 20px;
     padding:40px;

}

#resumeImageContainer button{
    border:1px solid rgba(0, 0, 0, 0.296);
    background-color: white;
    width:fit-content;
    margin:10px auto;
}
    

#resumeImageContainer img{
height: 150px;
width: 100px;

}


#linksContainer{
    margin:0px;
    padding:0px;
    gap: 0px;
    
}

.socialLinks a{
    font-size:12px;
}



 
}